{% extends "playlists/base.html" %}

{% block head %}
  {% if title %}
    {{ title }} /
  {% endif %}

  {{ block.super }}
{% endblock %}



{% block content %}
  {% if title %}
    <h1>{{ title }}</h1>
  {% endif %}

{% for instance in object_list %}
 <div>
  {% if instance.is_movie %}
      {% include 'cards/movie.html' with movie=instance %}

    {% elif instance.is_show %}
      {% include 'cards/show.html' with show=instance %}

    {% else %}

    {% endif %}

</div>
{% endfor %}

{% endblock %}