{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% block css %}
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netflix world – Watch TV Shows Online, Watch Movies Online</title>
    <meta name="description" content="Netflix world – Watch TV Shows Online, Watch Movies Online">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'playlists/css/landing-pages.css' %}">
    <link rel="stylesheet" href="{% static 'playlists/css/global.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
<main style="padding: 0px 10px;">
    <header class="d-flex space-between middle-align">
        <a href="{% url 'start' %}">
            <img src="{% static 'playlists/images/logo.png' %}" height="50px" width="170px" alt="site logo main"></img>
        </a>
        {% if user.is_authenticated %}
            <button class="button"><a href="{% url 'home' %}">Watch</a></button>
        {% else %}
            <button class="button"><a href="{% url 'login' %}"> Sign In</a></button>
        {% endif %}
    </header>
</main>
  {% block content %}

  {% endblock %}

</body>

</html>