{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <!-- index page block start | main landing page home | -->

    <main style="padding: 0px 10px;">

        <section id="login-form-section">
            <!--Login form start-->

                <div class="loginContainer d-flex direction-column">
                    <p>⚠ Do not enter your personal information.</p>
                    <h2 class="formtitle">
                        Sign In
                    </h2>
                    <form action="{% url 'login' %}" id="loginForm" class="d-flex direction-column" method="post" name="loginForm">
                        {% csrf_token %}
                        {% for f in form %}
                            {{ f }}
                            {% if f.errors %}
                                {% for err in f.errors %}
                                    <p id="errorEmail">ошибка</p>
                                    <p id="errorEmail">{{ err }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="button submitButton" id="signInButton">
                            <a style="text-decoration: none; color: white;">Sign In</a>
                        </button>

                        <div class="rememberMe">
                            <input type="checkbox" name="rememberMe" id="rememberMe" class="rememberMe">
                            <label for="rememberMe"><span class="login-remember-me-label-text">Remember me</span></label>
                        </div>
                        <p class="signUpText para">
                            New to Netflix? <span class="signUp"><a href="{% url 'register' %}">Sign up Now</a></span>
                        </p>
                        <p class="bottomMessage para">
                            This page is protected by Google reCAPTCHA to ensure you're not a bot
                        </p>
                    </form>
                </div>

            <!--Login form End-->
        </section>
    </main>

    <script>
        //function to validate email address on input text change and enable submit button if it's true
        document.getElementById('errorEmail').style.display = "none";
        document.getElementById('errorPassword').style.display = "none";
        function validateEmail() {
            let email = document.getElementById('email').value;
            let re = /\S+@\S+\.\S+/;
            let result = re.test(email);
            if (result) {
                document.getElementById('errorEmail').style.display = "none";
                document.getElementById('signInButton').disabled = false;
               // document.getElementById("email-form").submit();
            }
            else {
                document.getElementById('errorEmail').style.display = "block";
                document.getElementById('signInButton').disabled = true;
            }
        }

document.getElementById("signInButton")?.addEventListener("click", function(e){
   e.preventDefault();
})
    </script>
{% endblock %}}